**/_add_script.bat
**/add_script.py
**/_add_module.bat
**/add_module.py
**/_upload_newversion.bat

# pythonLP
**/.venv/
**/.icons/
**/.links/
**/.debug/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Anaconda
.spyproject/
.ipynb_checkpoints
.virtual_documents

#Windows
desktop.ini
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# uv
.uv-cache/
uv.lock